<mat-card>
    <mat-card-header class="">
        <div class="row">
            <div class="col">
                <img src="/assets/pictures/cat.jpg" class="img-profile img-gradient-pink" alt="profile picture">
            </div>
            <div class="col">
                <span>
                    <mat-card-title>Eleni</mat-card-title>
                    <mat-card-subtitle>Leiterin</mat-card-subtitle>
                </span>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
    </mat-card-content>

    <mat-card-actions>
            <button type="button" class="profile-btn delete">Delete</button>
            <button type="button" class="profile-btn add">Add</button>
    </mat-card-actions>
</mat-card>
